.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
env
.env
.env.*
.pytest_cache
.mypy_cache
.ruff_cache
*.egg-info
*.egg
dist
build
pyproject.toml
setup.py
setup.cfg
PKG-INFO
modifyself.egg-info
modifyself/pyproject.toml
modifyself/setup.py
modifyself/setup.cfg
modifyself/PKG-INFO
modifyself.egg-info/
modifyself/*.egg-info
